:root {
  --primary: #b6895b;
  --bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--bg);
  color: #000000;
  min-height: 5000px;
}

/* Navbar Section */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.3rem 7%;
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #000000;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #000000;
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 2rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: transform 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #000000;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}
#hamburger-menu {
  display: none;
}


/* Hero Section */
.hero {
  font-family: "Urbanist", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url("img/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .content {
  
  font-size: 1.2rem;
  margin-left: 17%;
  color: #000000;
  
}

.hero .content button {
    margin-top: 1rem;
    background-color: #8C5A3C; /* Warna hijau */
    color: white;             /* Warna teks putih */
    padding: 12px 24px;       /* Ukuran jarak dalam tombol */
    border: none;             /* Hilangkan garis tepi */
    border-radius: 8px;       /* Membuat sudut tombol melengkung */
    cursor: pointer;          /* Mengubah ikon kursor menjadi pointer */
    font-size: 24px;  
}

.hero .content button:hover {
    background-color: #ac6133; 
  }

  
  /* About Section */
  .about,
  .menu,
  .contact {
    padding: 7rem 7% 1.4rem;
    font-family: "Urbanist", sans-serif;
    color: #000000;
    
  }

  .about h2,  
  .menu h2,
  .contact h2 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 5rem;

  }
  
  .about .row {
    display: flex;
    margin-left : 12%;
    margin-right : 12%;
  }
 

  .about .row .content p {
    margin-bottom: 0.8rem;
    font-family: "Urbanist", sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: justify;
    margin-left: 20%;

  }
 

  /*Menu Section*/
    .menu {
    background-color: #f9f3ee;

    
  }

  .menu h2,
  .contact h2 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  .menu p,
  .contact p {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 5rem;
    max-width: 50rem;
    margin: auto;
  }

  .menu h4 {
    text-align: center;
    margin-top: 5rem;
    font-size : 2rem 
    
    
  }
 

  .menu .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: center;

  }

  .menu-card-coffee {
    text-align: center;
  }

  .menu-card-noncoffee {
    text-align: center;
  }

  .menu .row .menu-card-coffee img {
    width: 80%;
    
  }

  .menu .row .menu-card-noncoffee img {
    width: 80%;
    
  }

  .menu .row .menu-card-dessert img {
    width: 80%;
    
  }

  .menu .row .menu-card .menu-card-title {
    margin: 1.5rem auto 0.5rem;

  }

  .menu .row .menu-card-coffee button {
    margin-top: 1rem;
    background-color: #8C5A3C; /* Warna hijau */
    color: white;             /* Warna teks putih */
    padding: 12px 24px;       /* Ukuran jarak dalam tombol */
    border: none;             /* Hilangkan garis tepi */
    border-radius: 8px;       /* Membuat sudut tombol melengkung */
    cursor: pointer;          /* Mengubah ikon kursor menjadi pointer */
    font-size: 12px;  
  }

  .menu .row .menu-card-coffee button:hover {
    background-color: #ac6133; 
  }

  .menu .row .menu-card-noncoffee button {
    margin-top: 1rem;
    background-color: #8C5A3C; /* Warna hijau */
    color: white;             /* Warna teks putih */
    padding: 12px 24px;       /* Ukuran jarak dalam tombol */
    border: none;             /* Hilangkan garis tepi */
    border-radius: 8px;       /* Membuat sudut tombol melengkung */
    cursor: pointer;          /* Mengubah ikon kursor menjadi pointer */
    font-size: 12px;  
  }

  .menu .row .menu-card-noncoffee button:hover {
    background-color: #ac6133; 
  }

  .menu .row .menu-card-dessert button {
    margin-top: 1rem;
    background-color: #8C5A3C; /* Warna hijau */
    color: white;             /* Warna teks putih */
    padding: 12px 24px;       /* Ukuran jarak dalam tombol */
    border: none;             /* Hilangkan garis tepi */
    border-radius: 8px;       /* Membuat sudut tombol melengkung */
    cursor: pointer;          /* Mengubah ikon kursor menjadi pointer */
    font-size: 12px;  
  }

  .menu .row .menu-card-dessert button:hover {
    background-color: #ac6133; 
  }

/*Our Media Section*/

  .media {
    padding : 10rem 7% 1.4rem;
    font-family: "Urbanist", sans-serif;
    justify-content: center;

  }

  .media h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #432F1D;
  }

  .media h4 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  .media .row {
    display: flex;
    justify-content: center;
  }



  /*Contact Section*/
  .contact {
    background-color: #f9f3ee;
  }

  .contact .row {
    display: flex;
    margin-top: 2rem;
  }

  .contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
  }

  .contact .row form {
    flex : 1 1 45rem;
    padding : 5rem 2rem;
    text-align: center;
  }

  .contact .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: #b6895b;
    border: 0px solid #000000;
    padding-left: 2rem;
  }

  .contact .row form .input-group input{

    width: 100%;
    padding :1rem;
    font-size: 1rem;
    background: none;
    color :#ffffff;
  }

  .contact .row form .btn {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #b6895b;
    cursor: pointer;
  }




/* Footer */
footer {
  background-color: #b6895b;
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
  
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #ffffff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: #000000;
}

footer .links {
  margin-bottom: 1.4rem;

}
footer .links a {
  color: #ffffff;
  padding: 0.7rem 1rem;
   
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: #000000;
  font-weight: bold;

}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html { 
    font-size: 100%;}

  .about .row {
    margin-left : 3%;
    margin-right : 3%;
  }

  .about .row .content p {

    font-size: 1.4rem;
    line-height: 1.9rem;
    text-align: justify;
    margin-left: 2%;

  }
  .menu .row {
   
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: center;
  }




/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 80%;
  }

  #hamburger-menu {
    display: inline-block;
  }
  
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #f9f3ee;
    width: 30rem;
    height: 100vh; 
    transition: right 0.3s ease-in-out;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #432F1D;
    display: block;
    font-size: 2rem;
    margin: 1.5rem;
    padding: 0.5rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
   
  }
  .about h2 {
  margin-bottom: 2rem;
  }

  .about .row .content p {
    margin-top: 1rem;
    padding: 0 4rem;
  }

  .about .row .about-img img {
    width: 50%;
    height: auto;
    margin-left: 12rem;
  
    
  }
  .menu {
    background-color: #f9f3ee;
    height: 450vh;
    
  }
  
  
  .menu button {
    margin-bottom: 2rem;
  }
  
  .media {
    height: 320vh;
  }
  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
    
  }
  .contact .row form {
    padding-top : 0;
  }
}





/* Mobile */
@media (max-width: 576px) {
  html {
    font-size: 60%; }

  .navbar img {
    width: 30%;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -150%;
    background-color: #f9f3ee;
    width: 30rem;
    height: 100vh; 
    transition: right 0.3s ease-in-out;
    text-align: center;
  }

  .navbar .navbar-nav a::after {
    transform-origin: center;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;

  }
  .menu {
    background-color: #f9f3ee;
    height: 650vh;
    
  }
 
  .menu .menu-card-title {
    font-size: 140%;
  }
  .menu .menu-card-price {
    font-size: 140%;
  }
  .menu button {
    margin-bottom: 2rem;
  }

  .media {
    height: 250vh;
  }
}
}
